{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TodoList App</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'todolist/bs/css/flatly.min.css' %}" />
		<link rel="stylesheet" href="{% static 'todolist/styles.css' %}" />		
	</head>
	<body>

		<h1 class="text-center">Welcome to TodoList App</h1>
	
	</body>
</html>